<input type="checkbox" @bind="MostrarBotones" />
<text> Mostrar Botones</text>


<div style="display: flex; flex-wrap: wrap; align-items:center;">
<ListaGenerica Lista="Clases">
    <HayRegistros Context="clase">
        <ClaseIndividual Clase="clase" MostrarBotones="MostrarBotones" EliminarClase="EliminarClase" />
    </HayRegistros>
</ListaGenerica>
</div>



<Confirmacion @ref="confirmacion" onConfirm="EliminarClaseConfirmacion" onCancel="OnCancelConfirmacion" Titulo="Eliminar Clase">
    <div>¿Desea borrar la clase @claseABorrar.Nombre?</div>
</Confirmacion>

@*@foreach (var clase in Clases)
    {
        <ClaseIndividual Clase="clase"
                         MostrarBotones="MostrarBotones"
                         EliminarClase="EliminarClase" />
    }*@


@code {
    [Parameter] public List<Clase> Clases { get; set; }
    bool MostrarBotones = false;
    Confirmacion confirmacion;
    Clase claseABorrar;

    void EliminarClase(Clase clase)
    {
        confirmacion.Mostrar();
        claseABorrar = clase;
    }

    void EliminarClaseConfirmacion()
    {
        Clases.Remove(claseABorrar);
        confirmacion.Ocultar();
        claseABorrar = null;
    }

    void OnCancelConfirmacion()
    {
        confirmacion.Ocultar();
        claseABorrar = null;
    }
}
