<input type="checkbox" @bind="MostrarBotones" />
<text> Mostrar Botones</text>

<ListaGenerica Lista="Clases">
    <HayRegistros Context="clase">
        <ClaseIndividual Clase="clase" MostrarBotones="MostrarBotones" EliminarClase="EliminarClase" />
    </HayRegistros>
</ListaGenerica>

<Confirmacion @ref="confirmacion" onConfirm="EliminarClaseConfirmacion" onCancel="OnCancelConfirmacion" Titulo="Eliminar Clase">
    <div>¿Desea borrar la clase @claseABorrar.Nombre?</div>
</Confirmacion>

@*@foreach (var clase in Clases)
    {
        <ClaseIndividual Clase="clase"
                         MostrarBotones="MostrarBotones"
                         EliminarClase="EliminarClase" />
    }*@


@code {
    [Parameter] public List<Clase> Clases { get; set; }
    bool MostrarBotones = false;
    Confirmacion confirmacion;
    Clase claseABorrar;

    void EliminarClase(Clase clase)
    {
        confirmacion.Mostrar();
        claseABorrar = clase;
    }

    //async Task EliminarClaseJavaScript(Clase clase) //EJEMPLO CON JS
    //{
    //    var confirmado = await js.Confirm($"¿Desea eliminar la clase {clase.Nombre}?");
    //    if (confirmado)
    //    {
    //        clases.Remove(clase);
    //        Console.WriteLine($"Se ha eliminado la clase: {clase.Nombre}");
    //    }
    //}

    void EliminarClaseConfirmacion()
    {
        Clases.Remove(claseABorrar);
        confirmacion.Ocultar();
        claseABorrar = null;
    }

    void OnCancelConfirmacion()
    {
        confirmacion.Ocultar();
        claseABorrar = null;
    }
}
