<h3>MostrarClase</h3>
<div>
    <h5><b>Nombre: </b>@Clase.Nombre</h5>
    <p><b>Descripción: </b> @Clase.Descripcion</p>
    <p><b>Puntos de Golpe: </b>@Clase.PuntosDeGolpe</p>
</div>

@code {
    [Parameter] public Clase Clase { get; set; }
}
