@page "/clases"

<div style="margin-bottom: 20px">
    <h1>Clases</h1>
    <ListaClases Clases="clases" />
</div>

<button @onclick="AgregarClase">Agregar Clase</button>

<Mensaje @ref="mensaje">
    <div> La clase: @claseParaAgregar.Nombre ya está incluida. Verifique. </div>
</Mensaje> 
